.hero {
  max-width: 1600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url("../image/hero-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 200px;
  padding-bottom: 200px;
  margin-right: auto;
  margin-left: auto;
}

.hero-title {
  display: block;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $title-dark-theme-color;
}

.button {
  width: 200px;
  height: 50px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  color: $title-dark-theme-color;

  background-color: $accent;
  border: 0px;
  border-radius: 4px;
  border-style: solid;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
